SAED32_EDK/


1_vcs/csrc/
1_vcs/ucli.key
1_vcs/novas.conf
1_vcs/novas.rc

2_synthesis/2_output/
2_synthesis/3_log/
2_synthesis/4_report/
2_synthesis/alib-*/
2_synthesis/work/

.worktrees/

*.log
*.svf
*.ddc
*.mr
